span#r{
    color: rgb(117, 21, 21);
    background-color: rgba(255, 0, 0, 0.534);
    
}
span#rec{
    color: rgb(173, 173, 0);

}
span#a{
    color: rgb(12, 48, 12);
    background-color: rgba(79, 194, 79, 0.459);


}